fastapi==0.115.5
uvicorn[standard]==0.32.1
SQLAlchemy==2.0.36
psycopg2-binary==2.9.10
python-multipart==0.0.12
pywebpush==2.0.0
apscheduler==3.10.4

itsdangerous
google-auth-oauthlib
google-api-python-client
requests-oauthlib

python-dotenv
